<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <a href="/logout">Выход</a>
    <title>Покупатели</title>
</head>
<body>
<h1>Покупатели</h1>
<form method="post" action="/user">
    <label>Имя:
        <input name="firstName" placeholder="Имя">
    </label>
    <label>Фамилия:
        <input name="lastName" placeholder="Фамилия">
    </label>
    <label>Логин:
        <input name="login" placeholder="Логин">
    </label>
    <label>Пароль:
        <input name="password" placeholder="Пароль">
    </label>
    <input type="submit" value="Добавить">
</form>
<table>
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Фамилия</th>
    </tr>
    <#list users as user>
        <tr>
            <td>${user.id}</td>
            <td>${user.firstName}</td>
            <td>${user.lastName}</td>
            <td>${user.login}</td>
            <td>${user.role}</td>
            <td>
                <form method="post" action="/users/${user.id}/delete">
                    <input type="submit" value="Удалить">
                </form>
                </td>
            <td>
                <a href="/users/${user.id}">Перейти</a>
            </td>
        </tr>
    </#list>
</table>
<p>
<a href="/products">Список товара</a>
</p>
</body>
</html>